<p id="notice"><%= notice %></p>

<h1>Legal Spouses</h1>

<table>
  <thead>
    <tr>
      <th>Spouse name</th>
      <th>Spouse nric</th>
      <th>Spouse dob</th>
      <th>Spouse age</th>
      <th>Spouse pob</th>
      <th>Spouse race</th>
      <th>Spouse religion</th>
      <th>Spouse tel no</th>
      <th>Spouse hp no</th>
      <th>Spouse occupation</th>
      <th>Spouse perm address</th>
      <th>Personal detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legal_spouses.each do |legal_spouse| %>
      <tr>
        <td><%= legal_spouse.spouse_name %></td>
        <td><%= legal_spouse.spouse_nric %></td>
        <td><%= legal_spouse.spouse_dob %></td>
        <td><%= legal_spouse.spouse_age %></td>
        <td><%= legal_spouse.spouse_pob %></td>
        <td><%= legal_spouse.spouse_race %></td>
        <td><%= legal_spouse.spouse_religion %></td>
        <td><%= legal_spouse.spouse_tel_no %></td>
        <td><%= legal_spouse.spouse_hp_no %></td>
        <td><%= legal_spouse.spouse_occupation %></td>
        <td><%= legal_spouse.spouse_perm_address %></td>
        <td><%= legal_spouse.personal_detail %></td>
        <td><%= link_to 'Show', legal_spouse %></td>
        <td><%= link_to 'Edit', edit_legal_spouse_path(legal_spouse) %></td>
        <td><%= link_to 'Destroy', legal_spouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legal Spouse', new_legal_spouse_path %>
