<p id="notice"><%= notice %></p>

<p>
  <strong>Spouse name:</strong>
  <%= @legal_spouse.spouse_name %>
</p>

<p>
  <strong>Spouse nric:</strong>
  <%= @legal_spouse.spouse_nric %>
</p>

<p>
  <strong>Spouse dob:</strong>
  <%= @legal_spouse.spouse_dob %>
</p>

<p>
  <strong>Spouse age:</strong>
  <%= @legal_spouse.spouse_age %>
</p>

<p>
  <strong>Spouse pob:</strong>
  <%= @legal_spouse.spouse_pob %>
</p>

<p>
  <strong>Spouse race:</strong>
  <%= @legal_spouse.spouse_race %>
</p>

<p>
  <strong>Spouse religion:</strong>
  <%= @legal_spouse.spouse_religion %>
</p>

<p>
  <strong>Spouse tel no:</strong>
  <%= @legal_spouse.spouse_tel_no %>
</p>

<p>
  <strong>Spouse hp no:</strong>
  <%= @legal_spouse.spouse_hp_no %>
</p>

<p>
  <strong>Spouse occupation:</strong>
  <%= @legal_spouse.spouse_occupation %>
</p>

<p>
  <strong>Spouse perm address:</strong>
  <%= @legal_spouse.spouse_perm_address %>
</p>

<p>
  <strong>Personal detail:</strong>
  <%= @legal_spouse.personal_detail_id %>
</p>

<%= link_to 'Edit', edit_legal_spouse_path(@legal_spouse) %> |
<%= link_to 'Back', legal_spouses_path %>
