<p id="notice"><%= notice %></p>

<p>
  <strong>Epf no:</strong>
  <%= @payroll.epf_no %>
</p>

<p>
  <strong>Socso no:</strong>
  <%= @payroll.socso_no %>
</p>

<p>
  <strong>Income tax no:</strong>
  <%= @payroll.income_tax_no %>
</p>

<p>
  <strong>Personal detail:</strong>
  <%= @payroll.personal_detail %>
</p>

<%= link_to 'Edit', edit_payroll_path(@payroll) %> |
<%= link_to 'Back', payrolls_path %>
