<p id="notice"><%= notice %></p>

<h1>Qualification Details</h1>

<table>
  <thead>
    <tr>
      <th>Qualification</th>
      <th>Sub disc</th>
      <th>Sch col uni</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Personal detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualification_details.each do |qualification_detail| %>
      <tr>
        <td><%= qualification_detail.qualification %></td>
        <td><%= qualification_detail.sub_disc %></td>
        <td><%= qualification_detail.sch_col_uni %></td>
        <td><%= qualification_detail.year %></td>
        <td><%= qualification_detail.duration %></td>
        <td><%= qualification_detail.personal_detail %></td>
        <td><%= link_to 'Show', qualification_detail %></td>
        <td><%= link_to 'Edit', edit_qualification_detail_path(qualification_detail) %></td>
        <td><%= link_to 'Destroy', qualification_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualification Detail', new_qualification_detail_path %>
