<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @working_experience.company_name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @working_experience.designation %>
</p>

<p>
  <strong>Reason leaving:</strong>
  <%= @working_experience.reason_leaving %>
</p>

<p>
  <strong>Year:</strong>
  <%= @working_experience.year %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @working_experience.duration %>
</p>

<p>
  <strong>Personal detail:</strong>
  <%= @working_experience.personal_detail %>
</p>

<%= link_to 'Edit', edit_working_experience_path(@working_experience) %> |
<%= link_to 'Back', working_experiences_path %>
